#top-menu-bar {
    text-align: center;
    background-color:#334455;
    color:#fff;
}
#top-menu-bar li {
    display:inline; margin:0;
    padding:0;
}
#top-menu-bar a {
    text-decoration: none;
    padding: 0 45px 0 45px;
    color: #fff;
}
#top-menu-bar a:visited {color: #fff;}
#top-menu-bar a:hover {
    color: #334455; background: #fff;
}
body {
    background-color: #eaeaea;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 1.8em;
    margin: 10px 0 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin-left: 25px;
}

header {
    padding: 10px;
    min-height: 48px;
    background-color: white;
}

#logo {
    text-decoration: none;
    float: left;
    margin-right: 10px;
}

header h1 {
    text-align: right;
    color: #3b8dbd;
}

#content-wrapper {
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
}
#secondary-toggle {
    display: none;
}



.clear {
    clear: both;
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #334455;
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px;
}

#top-menu div {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #334455;
    border-bottom: 1px solid #334455;
    height: 40px;
    font-weight: bold;
}

#top-menu div ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #fff;
}

#top-menu div ul li {
    float: left;
    height: 40px;
}

#top-menu div ul a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    display: block;
    height: 20px;
    transition: .5s;
}

#top-menu div ul a:hover {
    color: #334455;
    background: #ffffff;
}
#top-menu div ul a:active {
    background: #c7e6f5;
}

#left-bar {
    float: left;
    width: 200px;
}

.widget {
    margin-bottom: 5px;
    border-radius: 8px;
    background: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #334455;
    box-shadow: 1px 1px 3px #c2c2c2;
}

.widget .header {
    background: #334455 url('img/toggle-collapse.png') no-repeat 15px center;
    color: #ffffff;
    padding: 15px;
    text-align: right;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-transform: capitalize;
    cursor: pointer;
}

.widget .content {
    padding: 5px 10px 10px 10px;
}

.widget .content p {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0;
}

.widget.collapsed .content {
    display: none;
}

.widget.collapsed .header {
    border-radius: 8px;
    background-image: url('img/toggle-expand.png');
}

#google-search #q{
    margin: 5px 0;
}

#content {
    padding-left: 220px
}

.red-element {
    color: red;
}

.borders {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}

#calendar-widget table {
    border-collapse: collapse;
}
#calendar-widget td {
    border: 1px solid #334455;
}


#contact-form {
    margin-top: 10px;
}

#contact-form input {
    width: 20%;
}

#contact-form button {
    min-width: 50px;
}

#contact-form .save {
    display: none;
}

#contacts-list {
    border-collapse: collapse;
    margin:5px 0 5px 0;
    width: 64%;
}

#contacts-list, #contacts-list td, #contacts-list th {
    border: 1px solid #334455;
}
#contacts-list td, #contacts-list th {
    padding: 5px;
    text-align: center;
}
#contacts-list th{
    font-weight: bold;
}